body {
   background-color: #F4EEE0;
   font-family: Sanseriffic;
        }   
header.cabecera {
   width: 100%;height: 120px;
   background: linear-gradient(90deg, rgba(35,43,80,1) 0%, rgba(11,36,113,1) 40%, rgba(0,212,255,1) 100%);
  }
     
h2{
   background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
   text-align: center; 
   width: 100%;height: 30px;
}
    
.seccion1{
   width: 100%; height: 300px;
   background-image: url("../media/672336.png");
   background-size: cover;
   background-repeat: no-repeat ;
             }
.seccion2{
       text-align: center; 
       background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
       width: 100%; height: 40px;
       }
@font-face{
   font-family: "Sanseriffic";
   src: url(../fonts/Sanseriffic.otf);
   }
   
